In [1]:
import pymongo

In [3]:
# dir(pymongo)

In [4]:
myclient = pymongo.MongoClient("mongodb://localhost:27017")

In [5]:
myclient

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [6]:
mydb = myclient["mydatabase"]

In [8]:
# dir(mydb)

In [9]:
mycol = mydb["customers"]

In [10]:
mycol

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'customers')

In [11]:
mydict = {"name":"Winner Emeto", "address":"Owerri Imo State, Nigeria"}
x = mycol.insert_one(mydict)

In [12]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [13]:
x = mycol.insert_many(mylist)

In [14]:
mylist = [  
    { "_id": 1, "name": "John", "address": "Highway 37"},
    { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
    { "_id": 3, "name": "Amy", "address": "Apple st 652"},
    { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
    { "_id": 5, "name": "Michael", "address": "Valley 345"},
    { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
    { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
    { "_id": 8, "name": "Richard", "address": "Sky st 331"},
    { "_id": 9, "name": "Susan", "address": "One way 98"},
    { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
    { "_id": 11, "name": "Ben", "address": "Park Lane 38"}
]

In [15]:
x = mycol.insert_many(mylist)

In [16]:
x = mycol.find_one()
x

{'_id': ObjectId('60dd935975735fad74bffe5c'),
 'name': 'Winner Emeto',
 'address': 'Owerri Imo State, Nigeria'}

In [17]:
mycol.find()

In [18]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('60dd935975735fad74bffe5c'), 'name': 'Winner Emeto', 'address': 'Owerri Imo State, Nigeria'}
{'_id': ObjectId('60dd957075735fad74bffe5d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60dd957075735fad74bffe5e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('60dd957075735fad74bffe5f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('60dd957075735fad74bffe60'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60dd957075735fad74bffe61'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('60dd957075735fad74bffe62'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60dd957075735fad74bffe63'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('60dd957075735fad74bffe64'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60dd957075735fad74bffe65'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60dd957075735fad74bffe66'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('60dd957075735fad74bffe67'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60dd957075735fad74bffe68'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [19]:
for x in mycol.find({},{"_id":0,"name":1,"address":1}):
    print(x)

{'name': 'Winner Emeto', 'address': 'Owerri Imo State, Nigeria'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}

In [22]:
myquery = {"address":"Park Lane 38"}
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('60dd957075735fad74bffe65'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [23]:
myquery = {"address":"Park Lane 38"}
mydoc = mycol.find(myquery,{"_id":0,"name":1,"address":1})
for x in mydoc:
    print(x)

{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Ben', 'address': 'Park Lane 38'}

In [26]:
mydoc = mycol.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('60dd957075735fad74bffe5d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('60dd957075735fad74bffe65'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('60dd957075735fad74bffe61'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('60dd957075735fad74bffe67'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('60dd957075735fad74bffe5e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('60dd957075735fad74bffe5f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('60dd957075735fad74bffe62'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('60dd957075735fad74bffe60'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('60dd957075735fad74bffe63'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('60dd957075735fad74bffe64'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('60dd957075735fad74bffe68'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('60dd957075735fad74bffe66'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('60dd935975735fad74bffe5c'), 'name': 'Winner Emeto', 'address': 'Owerri Imo State, Nigeria'}

In [27]:
mydoc = mycol.find({},{"_id":0,"name":1,"address":1}).sort("name")

for x in mydoc:
    print(x)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Winner Emeto', 'address': 'Owerri Imo State, Nigeria'}

In [28]:
mydoc = mycol.find({},{"_id":0,"name":1,"address":1}).sort("name",1)

for x in mydoc:
    print(x)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Winner Emeto', 'address': 'Owerri Imo State, Nigeria'}

In [29]:
mydoc = mycol.find({},{"_id":0,"name":1,"address":1}).sort("name",-1)

for x in mydoc:
    print(x)

{'name': 'Winner Emeto', 'address': 'Owerri Imo State, Nigeria'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Amy', 'address': 'Apple st 652'}

In [30]:
myquery = {"name":"Winner Emeto"}
mycol.delete_one(myquery)

In [31]:
mydoc = mycol.find({},{"_id":0,"name":1,"address":1}).sort("name",-1)

for x in mydoc:
    print(x)

{'name': 'William', 'address': 'Central st 954'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Amy', 'address': 'Apple st 652'}

In [32]:
myquery = {"name":"Betty"}
mycol.delete_many(myquery)

In [33]:
mydoc = mycol.find({},{"_id":0,"name":1,"address":1}).sort("name",-1)

for x in mydoc:
    print(x)

{'name': 'William', 'address': 'Central st 954'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Amy', 'address': 'Apple st 652'}

In [ ]:
myquery = {}
mycol.delete_many(myquery)

In [ ]:
mycol.delete_many({})

In [ ]:
mycol.drop()

In [36]:
myquery = {"address":"One way 98"}
newvalues = {"$set":{"address":"Owerri Imo State, Nigeria"}}

mycol.update_one(myquery,newvalues)

In [38]:
mydoc = mycol.find({},{"_id":0,"name":1,"address":1}).sort("name",-1)

for x in mydoc:
    print(x)

{'name': 'William', 'address': 'Central st 954'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Susan', 'address': 'Owerri Imo State, Nigeria'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Amy', 'address': 'Apple st 652'}

In [39]:
myquery = {"address":"Park Lane 38"}
newvalues = {"$set":{"address":"Owerri Imo State, Nigeria"}}

mycol.update_many(myquery,newvalues)

In [40]:
mydoc = mycol.find({},{"_id":0,"name":1,"address":1}).sort("name",-1)

for x in mydoc:
    print(x)

{'name': 'William', 'address': 'Central st 954'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Susan', 'address': 'Owerri Imo State, Nigeria'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Ben', 'address': 'Owerri Imo State, Nigeria'}
{'name': 'Ben', 'address': 'Owerri Imo State, Nigeria'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Amy', 'address': 'Apple st 652'}